.Footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1px;
}
.Footer a {
  color: white;
}

.Footer h5 {
  margin-top: -10px;
}

.footerButton {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.btn {
  background-color: #007bff; 
  border: none;
  color: white;
  padding: 10px 20px; 
  text-align: center;
  text-decoration: none;
  display: inline-block; 
  font-size: 16px; 
  margin: 4px 2px;
  cursor: pointer; 
  border-radius: 5px; 
  transition: background-color 0.3s, transform 0.2s; 
}

.btn:hover {
  background-color: #0056b3; 
  transform: translateY(-2px); 
}

.btn:active {
  transform: translateY(1px);
}

#file-input {
  display: none; 
}